## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy* 

**1.** Import pandas under the name `pd`.

In [2]:
%load _solutions/lab2-q1.py

**2.** Print the version of pandas that has been imported.

In [8]:
%load _solutions/lab2-q2.py

0.23.0

**3.** Print out all the version information of the libraries that are required by the pandas library.

In [ ]:
%load _solutions/lab2-q3.py

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
# %load _solutions/lab2-q4.py

**5.** Display a summary of the basic information about this DataFrame and its data.

In [ ]:
# %load _solutions/lab2-q5.py

**6.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
# %load _solutions/lab2-q6.py

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [ ]:
# %load _solutions/lab2-q7.py

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [ ]:
# %load _solutions/lab2-q8.py

**9.** Select only the rows where the number of visits is greater than 3.

In [ ]:
# %load _solutions/lab2-q9.py

**10.** Select the rows where the age is missing, i.e. is `NaN`.

In [ ]:
# %load _solutions/lab2-q10.py

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
# %load _solutions/lab2-q11.py

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
# %load _solutions/lab2-q12.py

**13.** Change the age in row 'f' to 1.5.

In [ ]:
# %load _solutions/lab2-q13.py

**14.** Calculate the sum of all visits (the total number of visits).

In [ ]:
# %load _solutions/lab2-q14.py

**15.** Calculate the mean age for each different animal in `df`.

In [ ]:
# %load _solutions/lab2-q15.py

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
# %load _solutions/lab2-q16.py

**17.** Count the number of each type of animal in `df`.

In [ ]:
# %load _solutions/lab2-q17.py

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [ ]:
# %load _solutions/lab2-q18.py

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [ ]:
# %load _solutions/lab2-q19.py

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
# %load _solutions/lab2-q20.py

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [ ]:
# %load _solutions/lab2-q21.py