## What is Python? Why are we going to use it?

Python is an interpreted high-level language; other high-level languages you might have heard of are C, C++, Perl, and Java.

You can go deep and far with any programming language, but we wanted to teach Python because...
* We want you to focus on programming, not learning a programming language
* Struggle less, Learn more
* Have more fun!
* Python is general purpose and allows you to work on all kinds of interesting projects
 * Data science
 * Scientific and mathematical computing
 * Web development
 * Finance and trading
 * System automation and administration
 * Computer graphics
 * Basic game development
 * Security and penetration testing
 * General and application-specific scripting
 * Mapping and geography (GIS software)
* Python is widely used in data analysis/ data science

## Python Expressions

**Value**: what a program has to work with. 

There are different types of values
String, Int, Float

In [2]:
string = "This is a string"
type(string)

str

In [5]:
type(1)

int

In [8]:
type(3.14)

float

**Variable**, a name that points to a value

Variable names in Python have some restrictions...

Python is wonderful

In [6]:
abc = "Tomorrow"
abc

'Tomorrow'

In [9]:
coolthings = "sevencoolthings"
print(coolthings)

sevencoolthings

In [12]:
awesome45 = 45
print(awesome45)

45

In [14]:
bootcamp  = "my bootcamp"
bootcamp75 = 12432341234134

Example:  
If you run a 10 kilometer race in 43 minutes 30 seconds, what is your average time per mile? What is your average speed in miles per hour? (Hint: there are 1.61 kilometers in a mile).

In [15]:
kilometers = 10
kilom_per_mile = 1.61

In [17]:
distance_in_miles = kilometers / kilom_per_mile
print("I ran ", distance_in_miles)

I ran  6.211180124223602

In [95]:
# Average time per mile
43.5 / distance_in_miles

7.003500000000001

In [18]:
time_in_hours = 43.5 / 60

In [21]:
mph = distance_in_miles / time_in_hours
print(mph)

8.567144998929106

## Python Data types (what you'll be working with during this bootcamp)
From the [great talk](https://youtu.be/j6VSAsKAj98?list=LLnOPU_YQJoz4VlqjCDgsBAQ) by David Beasley

## *Tuple*
AKA:  
>`Record`
    
KNOWN FOR:  
> A row in a database. Packing and unpacking things.
    
BASIC USAGE:
> `record  = (val1, val2, val3)`  
> `a, b, c = record`  
> `val = record[n]`

ACCOMPLICE:
> `collections.namedtuple`

In [41]:
row = ("Bob", "Davis", "2391 695 UT", 84121)

In [36]:
row

('Bob', 'Davis', '2391 695 UT', 84121)

In [28]:
from collections import namedtuple

In [31]:
Person = namedtuple("Person", ["first", "last", "address", "postalcode"])

In [43]:
row1 = Person("Sam", "Douglas", "2391 E 695 S SLC UT", 84121)
row2 = Person("Me",'Too','None',"postalcode")

In [44]:
print(row)
print(row1)
print(row2)

('Bob', 'Davis', '2391 695 UT', 84121)
Person(first='Sam', last='Douglas', address='2391 E 695 S SLC UT', postalcode=84121)
Person(first='Me', last='Too', address='None', postalcode='postalcode')

## *List*
AKA:  
>`Mutable Sequence, Array`
    
KNOWN FOR:  
> Enforcing order.
    
BASIC USAGE:
> `items  = [val1, val2, val3,..., valn]`  
> `x = items[n]`  
> `del items[n]`  
> `items.append(value)`  
> `items.sort()`

In [45]:
my_list = [1,"something",2,3,3.15]
my_list

[1, 'something', 2, 3, 3.15]

In [46]:
my_list.append("add this")
my_list

[1, 'something', 2, 3, 3.15, 'add this']

In [47]:
my_list.insertfirst(2, "eh?")

In [48]:
my_list

[1, 'something', 'eh?', 2, 3, 3.15, 'add this']

In [49]:
for x in my_list:
    print("The object in my list is " + str(x))

The object in my list is 1
The object in my list is something
The object in my list is eh?
The object in my list is 2
The object in my list is 3
The object in my list is 3.15
The object in my list is add this

In [50]:
lower_names = ["judy", "charlie", "sam", "chuck", "jim", "sandy"]

In [51]:
for firstname in lower_names:
    print(firstname.upper())

JUDY
CHARLIE
SAM
CHUCK
JIM
SANDY

In [53]:
firstname == lower_names[-1]

True

## *Set*
AKA:  
>`Set`
    
KNOWN FOR:  
> Uniqueness, membership tests.
    
BASIC USAGE:
> `s  = {val1, val2, ..., valn}`  
> `s.add(val)`  
> `s.remove(val)`  
> `val in s`

In [57]:
names = set(["Dave", "Nate", "Carol", "John", "Dave"])

In [58]:
names1 =set(["Carol", "John"])

In [59]:
names.intersection(names1)

{'Carol', 'John'}

In [56]:
names_two = {"Dave", "Nate", "carol", "John", "Amber", "Dave"}

In [132]:
names_two

{'Amber', 'Dave', 'John', 'Nate', 'carol'}

### *Dict*
AKA:  
>`Mapping, Associative Array`
    
KNOWN FOR:  
> Lookup tables, indices.
    
BASIC USAGE:
> `d  = {key1: val1, key2: val2, key3: val3}`  
> `val = d[key]`  
> `d[key] = val`  
> `del d[key]`
> `key in d`

In [84]:
mydictionary = {"key1":{"nested_key1":"nested_value1"}}
mydictionary['key1']

{'nested_key1': 'nested_value1'}

In [97]:
family = {"john":{"place":"Toronto","relationship":"ugly brother","address":"123,smell your way"}}

for eachFamilymember in family: 
    #print Family Member Name
    for eachAttribute in eachFamilymember:
        #print each attribute about the Family Member


#examples of looping over a dictionary - where the key/values are being printed.
for key in family.keys():
    
    print(family[key],"this is a dictionary, with it's own keys/values")

for k,v in family.items():
    v1 = v.keys()
    print(list(v1),"here I made a list of keys for the values")
    
    
for item in family.items():
    print(item[0],'Here is the key ')
    print(item[1])

{'place': 'Toronto', 'address': '123,smell your way', 'relationship': 'ugly brother'}
place
john
{'place': 'Toronto', 'address': '123,smell your way', 'relationship': 'ugly brother'}

In [70]:
prices = {
    "ACME": 45.23,
    "YOW": {"key1": "val1", "key2": "val2", "key3": "val3"},
    "APPL": ["Dave", "Nate", "Carol", "John", "Dave"]
}

In [73]:
prices['YOW']['key2']

'val2'

In [145]:
prices["YOW"]["key1"]

'val1'

### *Counter*
AKA:  
>`collections.Counter`
    
KNOWN FOR:  
> Counting, Histograms, Tabluation.
    
BASIC USAGE:
> `c  = Counter(sequence)`  
> `c[key] += n`  
> `c.most_common(n)`

In [74]:
from collections import Counter

In [79]:
c = Counter([1,1,2,3,4,5,6,7,8,8,8,9])

In [80]:
c

Counter({1: 2, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 3, 9: 1})

In [77]:
c['a'] += 10

In [78]:
c

Counter({'a': 10, 't': 1, 'x': 4, 'y': 1, 'z': 2})

### *Defaultdict*
AKA:  
>`collections.defaultdict`
    
KNOWN FOR:  
> Multidicts, One-to-many relationships, Grouping.
    
BASIC USAGE:
> `d  = defaultdict(list)` 
> `d[key].append(val)`
> `values = d[key]`

In [ ]:
from collections import defaultdict

In [ ]:
d = defaultdict(list)

In [ ]:
d['stuff'].append(19)

In [ ]:
d['stuff'].append(34)

In [ ]:
d['spam'].append("hi!")

In [ ]:
d

### OrderderDict
AKA
`collections.OrderedDict`

KNOWN FOR:
`An dictionary which keeps the order of the items`

BASIC USAGE:
`d = OrderedDict.fromkeys('abcde')
d.move_to_end('b')`

In [1]:
from collections import OrderedDict
d = OrderedDict.fromkeys('ABCDE')
d

OrderedDict([('A', None), ('B', None), ('C', None), ('D', None), ('E', None)])

In [3]:
d.move_to_end('B')
d

OrderedDict([('A', None), ('C', None), ('D', None), ('E', None), ('B', None)])

In [5]:
d['C'] = "Hello World"
d

OrderedDict([('A', None),
             ('C', 'Hello World'),
             ('D', None),
             ('E', None),
             ('B', None)])